@import './mixins';

.has {
    &-top-input { padding-top: 40px !important; }
    &-bottom-input { padding-bottom: 40px !important; }

    @for $i from 1 to 9 {
        @include box ('padding', $i);
        @include box ('margin', $i);
    }

    @for $i from 1 to 9 {
        &-shadow-#{ $i } {
            @include shadow ($i, #666);
        }
    }

    &-gap {
        + .has-gap { margin-left: 12px; }
    }
}

.is {
    &-fixed-top { 
        position: fixed; 
        width: 100%; 
        top: 0px; 
    }

    @for $i from 1 to 9 {
        &-height-#{ $i } {
            @include height ($i);
        }
    }

    &-borderless { 
        border: 0px solid transparent !important; 
    }
}