.input {
    &-container {
        padding: 12px 24px;
        
        &.is-from-input {
            position: fixed;
            bottom: 100px;
            left: 0px;

            width: 100%;
        }
    }
}