$gap: 12px;

@mixin box ($model, $unit) {
    &-#{$model} {
        &-#{$unit} { #{$model}: $unit * $gap !important; }
        &-top-#{$unit} { #{$model}-top: $unit * $gap !important; }
        &-bottom-#{$unit} { #{$model}-bottom: $unit * $gap !important; }
        &-left-#{$unit} { #{$model}-left: $unit * $gap !important; }
        &-right-#{$unit} { #{$model}-right: $unit * $gap !important; }
    }
}

@mixin height ($unit) {
    height: $unit * $gap;
}

@mixin shadow ($unit, $color) {
    box-shadow: 0px 0px $unit * 1px rgba($color, (10 - $unit) * 0.1);
}