@import './helper';
@import './input';
@import './ticket';
@import './page';
@import './float_menu';
@import './spinner';

html, body {
    margin: 0px;
    position: relative;
}

.shell {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.input:active, 
.input:focus, 
.is-active.input, 
.is-active.textarea, 
.is-focused.input, 
.is-focused.textarea, 
.select select.is-active, 
.select select.is-focused, 
.select select:active, 
.select select:focus, 
.textarea:active, 
.textarea:focus {
    box-shadow: none;
}